.three-coloumn{
    display: block;
}

.three-coloumn > *{
    padding: 1rem;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 70vh;
}

@media (min-width:786px){
    .three-coloumn{
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.intro{
    margin: 0;
    background-color: maroon;
    display: grid;
    place-items: center;
}

.img-class{
    margin-top: 75px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#default-img{
    min-width: 150px;
    min-height: 250px;
}

.name{
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.about{
    background-color: brown;
}

#about{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.update{
    background-color: orange;
}

.update > *{
    margin-top: 5px;
    margin-bottom: 5px;
}

input{
    width: 15vw;
    height: 24px;
    border-radius: 2px;
}

button{
    margin-top: 4px;
    border-radius: 2px;
    background-color: greenyellow;
}